{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.question_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.question_list'|trans }}</h1>

    {% if pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'question.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'question.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'question.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'question.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for question in pagination %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.createdAt|format_date('long') }}</td>
                    <td>{{ question.updatedAt|format_date('long') }}</td>
                    <td>{{ question.title }}</td>
                    <td>
                        <a href="{{ path('question_show', {'id': question.id}) }}" class="btn btn-sm btn-primary">
                            {{ 'link.show'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </nav>

    {% else %}
        <p>{{ 'message.empty_list'|trans }}</p>
    {% endif %}
{% endblock %}
