{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.record_view'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.record_view'|trans({'%id%': record.id}) }}</h1>
    {% if record is defined %}
        <dl>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ record.title }}</dd>
            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{ record.content }}</dd>
            <dt>{{ 'label.tags'|trans }}</dt>
            <dd>{{ record.tags|join(', ') }}</dd>
        </dl>
        <a href="{{ url('record_index') }}" class="btn btn-secondary">
            {{ 'link.back_to_list'|trans }}
        </a>
    {% else %}
        <p>{{ 'message.record_not_found'|trans }}</p>
    {% endif %}
{% endblock %}
